.form {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #2c3e53;
}

.sendButton {
  background: #066839;
  padding: 3px 20px 3px 5px;
  border-radius: 3px;
  align-self: flex-end;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendIcon {
  width: 20px;
  height: 20px;
}

.tox-tinymce {
  border: none !important;
  border-radius: 0 !important;
}
